doctype html
html(lang='en')
  include common/head.pug 
  +head(`${title}`)
  body
    block content
      h1= title
      p Welcome to #{title}
        form(action="/", method="POST")
          input(type="email", name="lead_email",placeholder="Enter your E-mail" )
          button(type="submit") Submit
      if leads
        h1 Leads
        for lead in leads 
          p(id=`${lead.id}`) 
            span #{lead.email}
            |

            |
            a(href="/lead/" + lead.id ) Details
            |

            |
            button(onclick=`deletelead('${lead.id}')`) Delete
    include common/footer.pug
    +footer()
    script(src="/javascripts/lead.js")